---
import { TZDate } from '@date-fns/tz'
import Layout from '../layouts/Layout.astro'
import { format } from 'date-fns'

export const prerender = false
// https://cdn.jsdelivr.net/gh/sunven/hotop@dev/api/2025-03-27.json
// https://purge.jsdelivr.net/gh/sunven/hotop@dev/api/2025-03-27.json

type Item = {
  title: string
  icon?: string
  scheme: string
  category?: string
  description?: string
}

const data = await fetch(
  `https://raw.githubusercontent.com/sunven/hotop/refs/heads/dev/api/${format(new TZDate(Date.now(), "Asia/Shanghai"), 'yyyy-MM-dd')}.json`
)
  .then(res => res.json() as Promise<Item[]>)
  .then(data => {
    return data
      .filter(c => !['明星','电视剧','综艺'].some(a => c.category?.includes(a)))
  })

---

<Layout>
  <dl class="mx-auto max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    {
      data.map((c, index) => {
        return (
          <a class="flex flex-col py-2" href={c.scheme}>
            <dd class="font-semibold flex items-center">
              <span class="text-orange-500 dark:text-gray-400 pr-1">{index + 1}.</span>
              {c.title}
              {c.icon && <img src={c.icon} class="size-7" />}
            </dd>
            {c.category && (
              <p>
                <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">
                  {c.category}
                </span>
              </p>
            )}
            {c.description && <dt class="text-gray-500 dark:text-gray-400">{c.description}</dt>}
          </a>
        )
      })
    }
  </dl>
</Layout>
